<div class="row">
    
    <% unless current_user.plan_id == 6 %>
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            Switch to <strong><%= link_to "Pro", edit_user_registration_path %></strong> to have access to the community's contact info.
            1st go to the link and delete your account then, sign up for pro.
        </div>
    <% end %>
    
    <div class="col-md-3 text-center">
        <%= image_tag @user.profile.avatar.url, class: "image" %>
    </div>
    
    <div class="col-md-6" id="description">
        <h1><%= @user.profile.first_name %> <%= @user.profile.last_name %></h1>
        <h3><span class="job_title_icon"><%= job_title_icon %></span> 
        <%= @user.profile.job_title %></h3><br/>
        
        <h3>Description:</h3>
        <div class="well profile-description">
            <strong><%= @user.profile.description %></strong>
        </div>
        
        <% if current_user.plan_id == 6 %>
            <div class="well" id="contact-info">
                <h4>Contact Information:</h4>
                <strong><%= @user.profile.phone_number %><br/>
                <%= @user.profile.contact_email %></strong>
            </div>
        <% end %>
        
    </div>
</div>